$color-dark-palette-1: #f8f9fa;
$color-dark-palette-2: #e9ecef;
$color-dark-palette-3: #dee2e6;
$color-dark-palette-4: #ced4da;
$color-dark-palette-5: #adb5bd;
$color-dark-palette-6: #6c757d;
$color-dark-palette-7: #495057;
$color-dark-palette-8: #343a40;
$color-dark-palette-9: #2b3035;
$color-dark-palette-10: #212529;

$color-dark-blue-text: #02467e;
$color-blue-text: #5360fd;
$color-green-text: #32b63d;
$color-red-text: #b63232;
$color-yellow-text: #adb632;
$color-pink-text: #cb5ed2;
