body {
  background-color: $color-dark-palette-10;
  font-family: "Cascadia", monospace;
  font-size: 16px;
  line-height: 1.5;
  color: $color-dark-palette-1;
  margin: 0;
  padding: 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: calc(100% - 20px);
    padding: 0 10px;
  }
}
