<div class="header">
  <div class="left-container">
    <a href="/">
      <div class="title-skew-container">
        <div class="title-text">
        ./Users/chrisfrancis
        </div>
      </div>
    </a>
  </div>
</div>